<!DOCTYPE html>
</html>
<html lang="fr">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://bootswatch.com/5/quartz/bootstrap.min.css" integrity="" >
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
		<title>Accueil</title>
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
		           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		

		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Share</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link active" href="{{path("accueil")}}">Home
								<span class="visually-hidden">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path("mention")}}">mention</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path("apropos")}}">a propos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path("contact")}}">Contact</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path("livredor")}}">livredor</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path("liste")}}">liste</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path("listelivre")}}">listelivre</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path("inscrire")}}">inscrire</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path("ajoutFichier")}}">ajoutFichier</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path("ajoutTheme")}}">ajoutTheme</a>
						</li>
						{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
						<li class="nav-item">
							<a class="nav-link" href="{{path("inscription")}}">inscription</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="{{path("app_login")}}">connecter</a>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{path("app_logout")}}">deconnecter</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path("profil")}}">profil</a>
						</li>
						{% endif %}
						
					</ul>
					<form class="d-flex">
						<input class="form-control me-sm-2" type="text" placeholder="Search">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>

<h2 class = "alert alert-info" role="alert" >
{% for message in app.flashes('notice') %}
{{ message }}
{% endfor %}
</h2>
		{% block body %}{% endblock %}
		
	</body>
</html>
